-- MySQL dump 10.13  Distrib 9.1.0, for Win64 (x86_64)
--
-- Host: localhost    Database: dnet_ad2025
-- ------------------------------------------------------
-- Server version	9.1.0

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `activity`
--

DROP TABLE IF EXISTS `activity`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `activity` (
  `id` int NOT NULL AUTO_INCREMENT,
  `user_id` varchar(50) COLLATE latin1_general_ci DEFAULT NULL,
  `user_name` varchar(100) COLLATE latin1_general_ci DEFAULT NULL,
  `action` varchar(50) COLLATE latin1_general_ci DEFAULT NULL,
  `details` text COLLATE latin1_general_ci,
  `url` varchar(255) COLLATE latin1_general_ci DEFAULT NULL,
  `ip` varchar(45) COLLATE latin1_general_ci DEFAULT NULL,
  `user_agent` text COLLATE latin1_general_ci,
  `duration` varchar(50) COLLATE latin1_general_ci DEFAULT NULL,
  `timestamp` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`)
) ENGINE=MyISAM AUTO_INCREMENT=753 DEFAULT CHARSET=latin1 COLLATE=latin1_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `activity`
--

LOCK TABLES `activity` WRITE;
/*!40000 ALTER TABLE `activity` DISABLE KEYS */;
/*!40000 ALTER TABLE `activity` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `dbset`
--

DROP TABLE IF EXISTS `dbset`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `dbset` (
  `id` int NOT NULL AUTO_INCREMENT,
  `dbname` varchar(100) COLLATE latin1_general_ci NOT NULL,
  `tahun` varchar(20) COLLATE latin1_general_ci NOT NULL,
  `aktif` varchar(20) COLLATE latin1_general_ci NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=8 DEFAULT CHARSET=latin1 COLLATE=latin1_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `dbset`
--

LOCK TABLES `dbset` WRITE;
/*!40000 ALTER TABLE `dbset` DISABLE KEYS */;
INSERT INTO `dbset` VALUES (1,'dnet_ad','2024','0'),(2,'dnet_ad2025','2025','1');
/*!40000 ALTER TABLE `dbset` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `legalisir`
--

DROP TABLE IF EXISTS `legalisir`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `legalisir` (
  `id` int NOT NULL AUTO_INCREMENT,
  `no_surat` varchar(50) COLLATE latin1_general_ci NOT NULL,
  `tgl_dokumen` varchar(200) COLLATE latin1_general_ci NOT NULL,
  `ditujukan` varchar(300) COLLATE latin1_general_ci NOT NULL,
  `perihal` varchar(200) COLLATE latin1_general_ci NOT NULL,
  `pembuat` varchar(25) COLLATE latin1_general_ci NOT NULL,
  `pdf` varchar(200) COLLATE latin1_general_ci NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=11 DEFAULT CHARSET=latin1 COLLATE=latin1_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `legalisir`
--

LOCK TABLES `legalisir` WRITE;
/*!40000 ALTER TABLE `legalisir` DISABLE KEYS */;
/*!40000 ALTER TABLE `legalisir` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `login_attempts`
--

DROP TABLE IF EXISTS `login_attempts`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `login_attempts` (
  `id` int NOT NULL AUTO_INCREMENT,
  `userid` varchar(50) COLLATE latin1_general_ci NOT NULL,
  `ip_address` varchar(45) COLLATE latin1_general_ci NOT NULL,
  `attempts` int NOT NULL,
  `last_attempt_time` timestamp NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `idx_ip` (`ip_address`)
) ENGINE=MyISAM AUTO_INCREMENT=191 DEFAULT CHARSET=latin1 COLLATE=latin1_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `login_attempts`
--

LOCK TABLES `login_attempts` WRITE;
/*!40000 ALTER TABLE `login_attempts` DISABLE KEYS */;
/*!40000 ALTER TABLE `login_attempts` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `migration_test`
--

DROP TABLE IF EXISTS `migration_test`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `migration_test` (
  `id` int NOT NULL AUTO_INCREMENT,
  `test_name` varchar(255) COLLATE latin1_general_ci NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=latin1 COLLATE=latin1_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `migration_test`
--

LOCK TABLES `migration_test` WRITE;
/*!40000 ALTER TABLE `migration_test` DISABLE KEYS */;
INSERT INTO `migration_test` VALUES (1,'Migration System working!');
/*!40000 ALTER TABLE `migration_test` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `migrations`
--

DROP TABLE IF EXISTS `migrations`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `migrations` (
  `id` int NOT NULL AUTO_INCREMENT,
  `migration` varchar(255) COLLATE latin1_general_ci NOT NULL,
  `executed_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=latin1 COLLATE=latin1_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `migrations`
--

LOCK TABLES `migrations` WRITE;
/*!40000 ALTER TABLE `migrations` DISABLE KEYS */;
/*!40000 ALTER TABLE `migrations` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `nilai`
--

DROP TABLE IF EXISTS `nilai`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `nilai` (
  `id` int NOT NULL AUTO_INCREMENT,
  `pd` varchar(100) COLLATE latin1_general_ci NOT NULL,
  `jk` varchar(5) COLLATE latin1_general_ci NOT NULL,
  `nis` varchar(20) COLLATE latin1_general_ci NOT NULL,
  `nisn` varchar(50) COLLATE latin1_general_ci NOT NULL,
  `kelas` varchar(50) COLLATE latin1_general_ci NOT NULL,
  `tempat_lahir` varchar(100) COLLATE latin1_general_ci NOT NULL,
  `tgl_lahir` varchar(200) COLLATE latin1_general_ci DEFAULT NULL,
  `nik` varchar(20) COLLATE latin1_general_ci NOT NULL,
  `agama` varchar(20) COLLATE latin1_general_ci NOT NULL,
  `alamat` text COLLATE latin1_general_ci NOT NULL,
  `no_hp` varchar(20) COLLATE latin1_general_ci NOT NULL,
  `email` varchar(100) COLLATE latin1_general_ci NOT NULL,
  `nama_ayah` varchar(100) COLLATE latin1_general_ci NOT NULL,
  `nama_ibu` varchar(100) COLLATE latin1_general_ci NOT NULL,
  `pkn_1` varchar(50) COLLATE latin1_general_ci NOT NULL,
  `ind_1` varchar(50) COLLATE latin1_general_ci NOT NULL,
  `mtk_1` varchar(50) COLLATE latin1_general_ci NOT NULL,
  `ipa_1` varchar(50) COLLATE latin1_general_ci NOT NULL,
  `ips_1` varchar(50) COLLATE latin1_general_ci NOT NULL,
  `eng_1` varchar(50) COLLATE latin1_general_ci NOT NULL,
  `pkn_2` varchar(50) COLLATE latin1_general_ci NOT NULL,
  `ind_2` varchar(50) COLLATE latin1_general_ci NOT NULL,
  `mtk_2` varchar(50) COLLATE latin1_general_ci NOT NULL,
  `ipa_2` varchar(50) COLLATE latin1_general_ci NOT NULL,
  `ips_2` varchar(50) COLLATE latin1_general_ci NOT NULL,
  `eng_2` varchar(50) COLLATE latin1_general_ci NOT NULL,
  `pkn_3` varchar(50) COLLATE latin1_general_ci NOT NULL,
  `ind_3` varchar(50) COLLATE latin1_general_ci NOT NULL,
  `mtk_3` varchar(50) COLLATE latin1_general_ci NOT NULL,
  `ipa_3` varchar(50) COLLATE latin1_general_ci NOT NULL,
  `ips_3` varchar(50) COLLATE latin1_general_ci NOT NULL,
  `eng_3` varchar(50) COLLATE latin1_general_ci NOT NULL,
  `pkn_4` varchar(50) COLLATE latin1_general_ci NOT NULL,
  `ind_4` varchar(50) COLLATE latin1_general_ci NOT NULL,
  `mtk_4` varchar(50) COLLATE latin1_general_ci NOT NULL,
  `ipa_4` varchar(50) COLLATE latin1_general_ci NOT NULL,
  `ips_4` varchar(50) COLLATE latin1_general_ci NOT NULL,
  `eng_4` varchar(50) COLLATE latin1_general_ci NOT NULL,
  `pkn_5` varchar(50) COLLATE latin1_general_ci NOT NULL,
  `ind_5` varchar(50) COLLATE latin1_general_ci NOT NULL,
  `mtk_5` varchar(50) COLLATE latin1_general_ci NOT NULL,
  `ipa_5` varchar(50) COLLATE latin1_general_ci NOT NULL,
  `ips_5` varchar(50) COLLATE latin1_general_ci NOT NULL,
  `eng_5` varchar(50) COLLATE latin1_general_ci NOT NULL,
  `respon` varchar(50) COLLATE latin1_general_ci DEFAULT NULL,
  `konfirmasi` varchar(50) COLLATE latin1_general_ci NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=MyISAM AUTO_INCREMENT=271 DEFAULT CHARSET=latin1 COLLATE=latin1_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `nilai`
--

LOCK TABLES `nilai` WRITE;
/*!40000 ALTER TABLE `nilai` DISABLE KEYS */;
/*!40000 ALTER TABLE `nilai` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `prestasi`
--

DROP TABLE IF EXISTS `prestasi`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `prestasi` (
  `id` int NOT NULL AUTO_INCREMENT,
  `pd` varchar(99) COLLATE latin1_general_ci NOT NULL,
  `kelas` varchar(25) COLLATE latin1_general_ci NOT NULL,
  `juara` varchar(99) COLLATE latin1_general_ci NOT NULL,
  `jenisprestasi` varchar(99) COLLATE latin1_general_ci NOT NULL,
  `prestasi` varchar(100) COLLATE latin1_general_ci NOT NULL,
  `nama_kegiatan` varchar(150) COLLATE latin1_general_ci NOT NULL,
  `tgl_kegiatan` varchar(80) COLLATE latin1_general_ci NOT NULL,
  `tingkat` varchar(99) COLLATE latin1_general_ci NOT NULL,
  `penyelenggara` varchar(88) COLLATE latin1_general_ci NOT NULL,
  `lokasi` varchar(150) COLLATE latin1_general_ci NOT NULL,
  `bulan` varchar(50) COLLATE latin1_general_ci NOT NULL,
  `pdf` varchar(250) COLLATE latin1_general_ci NOT NULL,
  `date` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`)
) ENGINE=MyISAM AUTO_INCREMENT=31 DEFAULT CHARSET=latin1 COLLATE=latin1_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `prestasi`
--

LOCK TABLES `prestasi` WRITE;
/*!40000 ALTER TABLE `prestasi` DISABLE KEYS */;
/*!40000 ALTER TABLE `prestasi` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `profils`
--

DROP TABLE IF EXISTS `profils`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `profils` (
  `id` int NOT NULL AUTO_INCREMENT,
  `sudin` varchar(200) COLLATE latin1_general_ci NOT NULL,
  `kop_dinas` text COLLATE latin1_general_ci NOT NULL,
  `nsekolah` varchar(255) COLLATE latin1_general_ci NOT NULL,
  `npsn` varchar(100) COLLATE latin1_general_ci NOT NULL,
  `alamat` text COLLATE latin1_general_ci NOT NULL,
  `kecamatan` varchar(100) COLLATE latin1_general_ci NOT NULL,
  `kelurahan` varchar(100) COLLATE latin1_general_ci NOT NULL,
  `provinsi` varchar(100) COLLATE latin1_general_ci NOT NULL,
  `kabupaten` varchar(100) COLLATE latin1_general_ci NOT NULL,
  `kodepos` varchar(20) COLLATE latin1_general_ci NOT NULL,
  `no_telp` varchar(50) COLLATE latin1_general_ci NOT NULL,
  `email` varchar(100) COLLATE latin1_general_ci NOT NULL,
  `website` varchar(100) COLLATE latin1_general_ci NOT NULL,
  `nipkasudin` varchar(100) COLLATE latin1_general_ci NOT NULL,
  `nrkkasudin` varchar(100) COLLATE latin1_general_ci NOT NULL,
  `kasudin` varchar(100) COLLATE latin1_general_ci NOT NULL,
  `kepsek` varchar(100) COLLATE latin1_general_ci DEFAULT '-',
  `nipkepsek` varchar(100) COLLATE latin1_general_ci DEFAULT '-',
  `nrkkepsek` varchar(100) COLLATE latin1_general_ci NOT NULL,
  `pengawas` varchar(100) COLLATE latin1_general_ci DEFAULT '-',
  `nippengawas` varchar(100) COLLATE latin1_general_ci DEFAULT '-',
  `nrkpengawas` varchar(100) COLLATE latin1_general_ci NOT NULL,
  `kasi` varchar(100) CHARACTER SET latin1 COLLATE latin1_general_cs DEFAULT '-',
  `nipkasi` varchar(100) COLLATE latin1_general_ci DEFAULT '-',
  `nrkkasi` varchar(100) COLLATE latin1_general_ci NOT NULL,
  `ktu` varchar(100) COLLATE latin1_general_ci NOT NULL,
  `nipktu` varchar(100) COLLATE latin1_general_ci NOT NULL,
  `nrkktu` varchar(100) COLLATE latin1_general_ci NOT NULL,
  `logo_sekolah` varchar(255) COLLATE latin1_general_ci DEFAULT 'logo_default.png',
  `background_login` varchar(255) COLLATE latin1_general_ci DEFAULT 'bg_default.jpg',
  `logo_pemda` varchar(255) COLLATE latin1_general_ci NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=latin1 COLLATE=latin1_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `profils`
--

LOCK TABLES `profils` WRITE;
/*!40000 ALTER TABLE `profils` DISABLE KEYS */;
/*!40000 ALTER TABLE `profils` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `runtxt`
--

DROP TABLE IF EXISTS `runtxt`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `runtxt` (
  `id` int NOT NULL,
  `txt` varchar(250) COLLATE latin1_general_ci NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=MyISAM DEFAULT CHARSET=latin1 COLLATE=latin1_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `runtxt`
--

LOCK TABLES `runtxt` WRITE;
/*!40000 ALTER TABLE `runtxt` DISABLE KEYS */;
/*!40000 ALTER TABLE `runtxt` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `server`
--

DROP TABLE IF EXISTS `server`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `server` (
  `id` int NOT NULL,
  `weboff` varchar(2) COLLATE latin1_general_ci NOT NULL,
  `log_server` text COLLATE latin1_general_ci NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=MyISAM DEFAULT CHARSET=latin1 COLLATE=latin1_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `server`
--

LOCK TABLES `server` WRITE;
/*!40000 ALTER TABLE `server` DISABLE KEYS */;
/*!40000 ALTER TABLE `server` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `siswa`
--

DROP TABLE IF EXISTS `siswa`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `siswa` (
  `id` int NOT NULL AUTO_INCREMENT,
  `pd` varchar(100) COLLATE latin1_general_ci NOT NULL,
  `jk` varchar(5) COLLATE latin1_general_ci NOT NULL,
  `nis` varchar(20) COLLATE latin1_general_ci NOT NULL,
  `nisn` varchar(50) COLLATE latin1_general_ci NOT NULL,
  `kelas` varchar(50) COLLATE latin1_general_ci NOT NULL,
  `photo` varchar(255) COLLATE latin1_general_ci DEFAULT NULL,
  `last_login` varchar(100) COLLATE latin1_general_ci DEFAULT NULL,
  `status` varchar(20) COLLATE latin1_general_ci NOT NULL,
  `level` varchar(20) COLLATE latin1_general_ci NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=MyISAM AUTO_INCREMENT=832 DEFAULT CHARSET=latin1 COLLATE=latin1_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `siswa`
--

LOCK TABLES `siswa` WRITE;
/*!40000 ALTER TABLE `siswa` DISABLE KEYS */;
/*!40000 ALTER TABLE `siswa` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tapel`
--

DROP TABLE IF EXISTS `tapel`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `tapel` (
  `id` int NOT NULL AUTO_INCREMENT,
  `tapel` varchar(20) COLLATE latin1_general_ci NOT NULL,
  `smt` varchar(20) COLLATE latin1_general_ci NOT NULL,
  `tahun` varchar(5) COLLATE latin1_general_ci NOT NULL,
  `aktif` varchar(20) COLLATE latin1_general_ci NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=MyISAM AUTO_INCREMENT=6 DEFAULT CHARSET=latin1 COLLATE=latin1_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tapel`
--

LOCK TABLES `tapel` WRITE;
/*!40000 ALTER TABLE `tapel` DISABLE KEYS */;
INSERT INTO `tapel` VALUES (4,'2025/2026','1','2025','0'),(5,'2025/2026','2','2025','1');
/*!40000 ALTER TABLE `tapel` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `user_devices`
--

DROP TABLE IF EXISTS `user_devices`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `user_devices` (
  `id` int NOT NULL AUTO_INCREMENT,
  `user_id` varchar(100) COLLATE utf8mb4_general_ci NOT NULL,
  `device_token` varchar(255) COLLATE utf8mb4_general_ci NOT NULL,
  `created_at` datetime DEFAULT CURRENT_TIMESTAMP,
  `expires_at` datetime NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=MyISAM AUTO_INCREMENT=66 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `user_devices`
--

LOCK TABLES `user_devices` WRITE;
/*!40000 ALTER TABLE `user_devices` DISABLE KEYS */;
/*!40000 ALTER TABLE `user_devices` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `user_log`
--

DROP TABLE IF EXISTS `user_log`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `user_log` (
  `id` int NOT NULL AUTO_INCREMENT,
  `user` varchar(100) COLLATE latin1_general_ci NOT NULL,
  `nama` varchar(100) COLLATE latin1_general_ci NOT NULL,
  `waktu` varchar(50) COLLATE latin1_general_ci NOT NULL,
  `ip` varchar(25) COLLATE latin1_general_ci NOT NULL,
  `info` text COLLATE latin1_general_ci NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=415 DEFAULT CHARSET=latin1 COLLATE=latin1_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `user_log`
--

LOCK TABLES `user_log` WRITE;
/*!40000 ALTER TABLE `user_log` DISABLE KEYS */;
/*!40000 ALTER TABLE `user_log` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `usera`
--

DROP TABLE IF EXISTS `usera`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `usera` (
  `id` int NOT NULL AUTO_INCREMENT,
  `userid` varchar(50) COLLATE latin1_general_ci NOT NULL,
  `password` varchar(255) COLLATE latin1_general_ci NOT NULL,
  `nama` varchar(100) COLLATE latin1_general_ci NOT NULL,
  `email` varchar(100) COLLATE latin1_general_ci DEFAULT NULL,
  `nik` varchar(50) COLLATE latin1_general_ci DEFAULT NULL,
  `poto` varchar(255) COLLATE latin1_general_ci DEFAULT NULL,
  `status` varchar(20) COLLATE latin1_general_ci NOT NULL DEFAULT '1',
  `ip` varchar(45) COLLATE latin1_general_ci NOT NULL,
  `google_secret` varchar(32) COLLATE latin1_general_ci DEFAULT NULL,
  `email_code` varchar(6) COLLATE latin1_general_ci NOT NULL,
  `email_code_expired` datetime NOT NULL,
  `lastlogin` datetime DEFAULT NULL,
  `level` varchar(20) COLLATE latin1_general_ci NOT NULL DEFAULT '1',
  `idu` varchar(200) COLLATE latin1_general_ci NOT NULL,
  `last_activity` int NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `username` (`userid`)
) ENGINE=InnoDB AUTO_INCREMENT=20 DEFAULT CHARSET=latin1 COLLATE=latin1_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `usera`
--

LOCK TABLES `usera` WRITE;
/*!40000 ALTER TABLE `usera` DISABLE KEYS */;
/*!40000 ALTER TABLE `usera` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `usera_log`
--

DROP TABLE IF EXISTS `usera_log`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `usera_log` (
  `id` int NOT NULL AUTO_INCREMENT,
  `user` varchar(100) COLLATE latin1_general_ci NOT NULL,
  `nama` varchar(100) COLLATE latin1_general_ci NOT NULL,
  `waktu` varchar(50) COLLATE latin1_general_ci NOT NULL,
  `ip` varchar(25) COLLATE latin1_general_ci NOT NULL,
  `info` text COLLATE latin1_general_ci NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=476 DEFAULT CHARSET=latin1 COLLATE=latin1_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `usera_log`
--

LOCK TABLES `usera_log` WRITE;
/*!40000 ALTER TABLE `usera_log` DISABLE KEYS */;
/*!40000 ALTER TABLE `usera_log` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `usulan`
--

DROP TABLE IF EXISTS `usulan`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `usulan` (
  `id` int NOT NULL AUTO_INCREMENT,
  `no_surat` varchar(100) COLLATE latin1_general_ci NOT NULL,
  `judul` varchar(100) COLLATE latin1_general_ci NOT NULL,
  `tujuan` varchar(100) COLLATE latin1_general_ci NOT NULL,
  `tgl_dokumen` date DEFAULT NULL,
  `pdf` varchar(200) COLLATE latin1_general_ci NOT NULL,
  `date` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`)
) ENGINE=MyISAM AUTO_INCREMENT=3 DEFAULT CHARSET=latin1 COLLATE=latin1_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `usulan`
--

LOCK TABLES `usulan` WRITE;
/*!40000 ALTER TABLE `usulan` DISABLE KEYS */;
INSERT INTO `usulan` VALUES (2,'test','test','TEST','2026-01-27','2025/20260127_test_14.pdf','2026-01-27 00:34:23');
/*!40000 ALTER TABLE `usulan` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `version`
--

DROP TABLE IF EXISTS `version`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `version` (
  `id` int NOT NULL AUTO_INCREMENT,
  `ver` varchar(20) COLLATE latin1_general_ci NOT NULL,
  `tgl` varchar(20) COLLATE latin1_general_ci NOT NULL,
  `logupdate` text COLLATE latin1_general_ci NOT NULL,
  `ket` text COLLATE latin1_general_ci NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=latin1 COLLATE=latin1_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `version`
--

LOCK TABLES `version` WRITE;
/*!40000 ALTER TABLE `version` DISABLE KEYS */;
INSERT INTO `version` VALUES (1,'1.0.1','2026-01-02 01:58:54','0','0');
/*!40000 ALTER TABLE `version` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-04-17 15:12:00
